body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url("./image/login\ page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
.login_box{
    width:300px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding:20px 20px;
    text-align: center;
    font-size: 20px;
}
form{
    line-height: 50px;
}
.container .login_box p{
    margin:10px 0;
}
.container .login_box input{
    border: none;
    padding:10px;
    border-radius: 5px;
}
.login_box h2{
    margin:0;
}
.login_box a{
    color: white;
    text-decoration: none;
}
.submit:hover{
    cursor: pointer;
}
.login_box a:hover{
    text-decoration:underline;
}
button{
    border: none;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
}